html{font-size:62.5%;
scroll-behavior: smooth;
overflow-x: hidden;
font-family: 'Josefin Slab', serif;
}


*{margin: 0rem;
    padding: 0rem;
    height: fit-content;
    max-width: auto;
    opacity: 100%;
    font-family: 'Josefin Slab', serif;
    box-sizing: border-box;
}

/*Scroll bar*/
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body {
  background-color: rgb(233, 233, 236);
}
.container{
  border:2px dashed white;
  margin:4rem;
  line-height: 1.5;
  padding:3rem;
  font-size: 2.3rem;
  font-weight: bold;
}
.story-container{
  margin:2rem;
  margin-left:0.5%;
  margin-right: 0.5%;
  display: flex;
  flex-direction:column;
}
/*Nav Bar*/
nav {
    height: fit-content;
    margin: auto;
    padding: 1rem;
    width: 100%;
    background-color: black;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  .topnav {
    display: flex;
  }
  
  .logonav {
    justify-content: left;
    display: inline-block;
    margin-top: 0.25rem;
    list-style: none;
    color: white;
    font-size: 2.7rem;
    letter-spacing: 0.25rem;
    padding: 1rem 0;
    margin-left: 1rem;
    font-family: "Fredericka the Great", cursive;
    text-decoration: none;
  }
  
  .topnav ul li {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    margin: 0.5rem 0;
    margin-right: 1.3rem;
    list-style: none;
  }
  .topnav ul {
    display: inline-flex;
    align-items: center;
  }
  ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    padding: 1rem;
    transition: all ease 0.25s;
    font-weight: 600;
  }
  ul li a span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  ul li a:hover {
    background-color: gray;
    cursor: pointer;
  }
  .dp {border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .search-box {
    padding: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 14rem;
    border: rgb(83, 81, 81) 1px solid;
  }
  .search-box input {
    width: 40rem;
    height: 3.5rem;
    border: none;
    outline: none;
    padding: 1rem;
    margin-right: 1rem;
    transition: 0.2s linear;
  }
  .search-box i {
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
    text-align: center;
    align-items: center;
  }
  .search-r {
    display: none;
  }
  hr{max-width:90vw;}
  .menu-area{
  position:relative;
  display: flex;
  flex-direction: column;
}
.menu{
  position:absolute;
  min-width:160px;
  z-index:10;
  margin-top:6.5rem;
  margin-right:9.5rem;
  display:none;
}
.menu a{
  display: block;
  transition: 0.5s;
  color:black;
  background-color:white;
}
.menu a:hover{
  color:white;
  background-color:black;
}
li.menu-area:hover{
  cursor: pointer;
}
.menu-area:hover .menu{
    display: block;
}
.spikes {
  position: relative;
  background: #2c3e50;
  width: 100%;
  height: 18vh;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #2c3e50 25%, transparent 25%),
    linear-gradient(225deg, #2c3e50 25%, transparent 25%);
  background-position: 0 0;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-family: "Fredericka the Great", cursive;
  font-size: 4rem;
  font-weight: lighter;
}
#autosave{color:#3a5b7a;
  font-size:2.3rem;
  font-weight:bold;
}
textarea{ border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  min-height:90vh;
  max-width:90vw;
  font-size:2.3rem;
  color:black;
  font-weight:bold;}
.chapter{display: flex;
  justify-content: center;}
.container label{ font-size:2.5rem;}
input[type="number"]{border: none;
  background-color: transparent;
  outline: none;
  margin-bottom: 1.25%;
  margin-top: 1%;
  font-size:3rem;
  color:black;
  font-weight: 600;
  text-align: center;
  align-items: center;
min-width: 30vw;}

.btn{width: 150px;
  height: 55px;
  background: #394f64;
  cursor:pointer;
  border-radius: 55px;
  border: none;
  outline: none;cursor:pointer;
  font-size:1.5rem;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  font-family: "Fredericka the Great", cursive;
  transition: all 0.5s;}
.btn:hover{
background: #6f8ba7;
  cursor: pointer;
}
.buttons{display:flex;
  direction: row;
  justify-content: center;
  margin:auto;
}
.buttons button{margin-right:2%;
margin-bottom:1.5%;}
footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 0rem 3rem;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    z-index: 1;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    margin: 3rem;
  }
  .footer-logo {
    justify-content: left;
    display: inline-block;
    margin-top: 0.25rem;
    list-style: none;
    color: white;
    font-size: 2.7rem;
    letter-spacing: 0.25rem;
    padding: 1rem 0rem;
    font-family: "Fredericka the Great", cursive;
    text-decoration: none;
  }
  .footer-logo {
    margin-right: 2rem;
  }
  .footer-logo,
  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  .footer-logo p {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .footer-nav {
    list-style: none;
    margin-right: 4rem;
  }
  .footer-nav li {
    margin: 0.75rem;
  }
  .footer-nav li a:hover {
    background-color: black;
  }
  .footer-icons {
    display: flex;
    flex-direction: column;
  }
  .footer-icons i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 2rem;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 0.5rem;
    vertical-align: middle;
  }
  .footer-icons i:hover {
    color: #33383b;
    background-color: white;
  }
  .write {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed white;
    margin: 3rem;
    padding: 3rem 7rem;
    border-radius: 50px;
    text-align: center;
  }
  .write p {
    font-size: 2.3rem;
    line-height: 1.5;
  }
  .footer-link {
    color: white;
    text-decoration: none;
  }
  @media only screen and (max-width: 900px) {.writeup{flex-direction: column;}
    input[type="number"]::placeholder{font-size: 40%;}
    .btn{font-size: 100%;}
    ul li a span {
      display: none;
    }
    .search-box {
      display: none;
    }
    .search-r {
      display: block;
    }
    .write {
      display: none;
    }
  }


